{% extends "base.html" %}

{% block content %}
    {% if user %}
        {{ post.render(user.key().id()) | safe }}
        <br><br>
    {% else %}
        {{ post.render(None) | safe }}
    {% endif %}

    {% if user and user.key().id() == post.user_id %}
        <a class="button" href="/blog/{{ post.key().id() }}/edit"><i class="fa fa-pencil" aria-hidden="true"></i> Edit Your Post</a>
        <a class="button alert" href="/delete/{{ post.key().id() }}/{{ post.user_id }}"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete Your Post</a>
    {% elif user %}
        <a class="button" href="/blog/{{ post.key().id() }}/like"><i class="fa fa-heart-o" aria-hidden="true"></i> Like This Post</a>
        <a class="button alert" href="/blog/{{ post.key().id() }}/unlike"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> Remove Like</a>
    {% endif %}


    <br>
    <hr>
    {% for c in comments %}
       <div class="callout secondary"> <span style="font-weight: bold">{{ c.content }}</span>
        <br>
        <i> -{{ c.getUserName() }}</i>
        </div>
        {% if user.name == c.getUserName() %}
            <span data-tooltip aria-haspopup="true" class="has-tip" title="Edit Comment"><a href="/blog/{{ post.key().id() }}/{{ c.user_id }}/{{ c.key().id() }}/editcomment" class="button tiny"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a></span>
            <span data-tooltip aria-haspopup="true" class="has-tip" title="Delete Comment"><a href="/blog/{{ post.key().id() }}/{{ c.user_id }}/{{ c.key().id() }}/deletecomment" class="button tiny alert"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></a></span>
        {% endif %}

        <br>
    {% endfor %}

    <br>
    {% if user %}
        <a href="/blog/{{ post.key().id() }}/{{ user.key().id() }}/addcomment">+ Add Comment</a>
    {% endif %}

{% endblock %}
